/**
 * Colour defintions:
 */

$colour-reddish-orange:     #ff6300;
$colour-orange:             #FF7600;
$colour-yellow-orange:      #FF9800;
$colour-transparent:              rgba(0,0,0,0);

/**
 * Styles:
 */
body {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;

  svg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

    @mixin defineColour($colourName,$colour){
      g.#{$colourName} > path.glow {
        animation-name: glow#{$colourName};
        animation-duration: 0.7s;
        //animation-iteration-count: 10;
        animation-direction:normal;
        animation-timing-function: ease-out;
        //animation-fill-mode: forwards;
      }

      @keyframes glow#{$colourName}{
        0% {
          stroke: $colour-transparent;
        }
        10% {
            stroke: $colour;
        }

        70% {
          stroke: $colour;
        }

        100% {
          stroke: $colour-transparent;
        }
      }
    }

    @include defineColour('orange', $colour-orange);
    @include defineColour('yellow-orange', $colour-yellow-orange);
    @include defineColour('reddish-orange', $colour-reddish-orange);

    g > path {
      stroke-width: 2;
      fill: none;
    }
  }
}
